.hotel-search {
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: $white;
}

.hotel-search__title {
  margin-top: 21px;
  @include font-scale(21px, 26px);
}

.hotel-search__text {
  @include font-scale(14px, 24px);
  color: $text-color;
}

@media #{$tablet-widths} {
  .hotel-search {
    padding: 32px 20px;
  }

  .hotel-search__title {
    @include font-scale(30px, 26px);
  }

  .hotel-search__text {
    width: 458px;
    margin: 20px auto;
  }
}

@media #{$desktop-widths} {
  .hotel-search {
    padding: 35px 20px;
    padding-bottom: 39px;
  }

  .hotel-search__text {
    width: 458px;
    margin: 31px auto;
  }
}
