.map-container {
  overflow: hidden;
  background-color: $white;
  min-height: 350px;
  background-color: #f3f1ec;
  background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  img {
    display: block;
  }
}

.map-container__js-map {
  width: 100%;
  height: 350px;
}

@media #{$tablet-widths} {
  .map-container {
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-tablet@1x.jpg");
  }
}

@media #{$desktop-widths} {
  .map-container {
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-desktop@1x.jpg");
  }
}
