.media__wrapper {
  width: 280px;
  margin: 0 auto;
}

.media__header {
  padding: 30px 0;
  text-align: center;
  border-bottom: $split;
}

.media__title {
  @include font-scale(18px, 26px);
  font-weight: bold;
}

.media__intro {
  @include font-scale(14px, 24px);
  color: $text-color;
}

.media__pictures {
  padding: 22px 0;
  border-bottom: $split;
}

.media__block {
  @include font-scale(14px, 24px);
}

.media__name {
  font-weight: bold;
}

.media__author {
  text-transform: none;
  color: $text-color;
}

.media__likes {
  font-weight: bold;
  color: $black;
}

.media__video {
  text-align: center;
}
