.media {
  background-color: $white;
  font-size: 0;
  padding-bottom: 70px;
}

.media__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
}

.media__header {
  padding: 20px 25px;
  text-align: center;
  border-bottom: $split;
}

.media__title {
  @include font-scale(18px, 26px);
  font-weight: bold;
}

.media__intro {
  @include font-scale(14px, 24px);
  color: $text-color;
}

.media__pictures {
  padding: 22px 0;
  border-bottom: $split;
}

.media__photo {
  img {
    display: block;
  }
}

.media__block {
  display: flex;
  flex-direction: column;
  @include font-scale(14px, 24px);
  box-sizing: border-box;
}

.media__name {
  font-weight: bold;
}

.media__author {
  text-transform: none;
  color: $text-color;
  margin: 0;
}

.media__likes {
  display: flex;
  padding-right: 20px;
}

.media__likes-link {
  font-weight: bold;
  color: $black;
  display: flex;

  svg {
    margin-right: 10px;
    fill: rgba(0,0,0,0.3);
  }
}

.media__video {
  text-align: center;
}

.media__movie {
  padding-top: 20px;
  margin: 0 auto;
}

.media__video-header {
  padding: 20px 40px;
}

.media__player {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 201px;
  display: block;
  background: url("../img/video-mobile@1x.jpg") no-repeat;

  @media #{$retina} {
    background: url("../img/video-mobile@2x.jpg") no-repeat;
  }
}

.media__controls {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  width: 280px;
  position: absolute;
  left: 0;
  top: -45px;
}

.media__controls-range {
  width: 100%;
  height: 45px;
  background-color: rgba(0,0,0,0.6);

  input[type=range] {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    width: 90%;
    height: 100%;
    background: transparent;
  }

  input[type=range]::-webkit-slider-runnable-track {
    @include track();
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include thumb();
    margin-top: -3px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    //background: transparent;
  }

  input[type=range]::-moz-range-track {
    @include track();
  }

  input[type=range]::-moz-range-thumb {
    @include thumb();
  }

  input[type=range]:-moz-focusring {
    outline: none;
  }

  input[type=range]::-ms-track {
    @include track();
    border-color: transparent;
    border-width: 3px 0;
    background: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: rgba(255,255,255,0.2);
  }

  input[type=range]::-ms-fill-upper {
    background: rgba(255,255,255,0.2);
  }

  input[type=range]::-ms-thumb {
    @include thumb();
    margin-top: 0;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: rgba(255,255,255,0.2);
  }

  input[type=range]:focus::-ms-fill-upper {
    background: rgba(255,255,255,0.2);
  }

  input[type=range]::-ms-tooltip {
    display: none;
  }
}

.media__controls-block {
  display: flex;
  align-items: center;
  background-color: $input-color;
  height: 67px;
  box-sizing: border-box;

  &--left {
    flex-grow: 1;
  }
}

.replay-button,
.subtitles-button,
.fscreen-button {
  margin-left: 15px;
  margin-right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    vertical-align: middle;
    fill: #5c6870;
  }
}

@media #{$tablet-widths} {
  .media {
    padding-bottom: 10px;
  }

  .media__list {
	display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
  }

  .media__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: $input-color;

    &--grey {
      background-color: #eaeaea;
    }
  }

  .media__info {
    flex-grow: 1;
  }

  .media__title {
    @include font-scale(30px, 26px);
  }

  .media__intro {
    width: 440px;
    margin: 0 auto;
  }

  .media__wrapper {
    width: 100%;
  }

  .media__header {
    border-bottom: none;
  }

  .media__pictures {
    display: flex;
    width: 50%;
    border-bottom: none;
    padding: 0;

    &--first {
      width: 100%;
    }
  }

  .media__video {
    width: 648px;
    margin: 0 auto;
  }

  .media__player {
    width: 100%;
    height: 100%;
    background: url("../img/video-tablet@1x.jpg") no-repeat;

    @media #{$retina} {
      background: url("../img/video-tablet@2x.jpg") no-repeat;
    }
  }

  .media__movie {
    width: 100%;
    height: 500px;
  }

  .media__controls {
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: space-between;
    top: -67px;
  }

  .media__controls-block--left {
    order: -1;
  }

  .media__controls-range {
	width: 420px;
    flex-grow: 1;
    background-color: transparent;
  }

  .media__controls-block {
    background-color: transparent;

    &--left {
      flex-grow: 0;
    }
  }

  .replay-button,
  .subtitles-button,
  .fscreen-button {

    svg {
      fill: $white;
    }
  }
}

@media #{$desktop-widths} {
  .media {
    padding-bottom: 60px;
  }

  .media__pictures {
    width: 33.333333%;

    &--first {
      width: 100%;
    }
  }

  .media__list {
    width: 100%;
  }

  .media__block {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    color: $white;
  }

  .media__author {
    color: $white;
  }

  .media__likes-link {
	color: $white;

    svg {
      fill: $white;
    }
  }

  .media__video {
    width: 800px;
  }

  .media__player {
    background: url("../img/video-desktop@1x.jpg") no-repeat;

    @media #{$retina} {
      background: url("../img/video-desktop@2x.jpg") no-repeat;
    }
  }
}

