.page-header {
  background-color: $white;
}

.page-header__head {
  min-height: 56px;
  position: relative;
}

.page-header__toggle {
  border: none;
  background: none;
  position: absolute;
  min-height: 23px;
  min-width:  23px;
  right: 20px;
  top:18px;
  background: url("../img/icon-menu.svg") no-repeat;
  font-size: 0;
}

.page-header__cancel {
  border: none;
  background: none;
  position: absolute;
  min-height: 28px;
  min-width: 28px;
  right: 15px;
  top: -155px;
  font-size: 0;
  background: url("../img/icon-cross.svg") no-repeat;

}


.page-header__background-foto {
  min-height: 158px;
  background-image:
    url("../img/text-sedona.svg"),
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 270px, 334px, 768px;
  background-position: 50% 50%, 50% 100%, 50% 100%;

  &--welcome {
    min-height: 389px;
    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 270px, 334px, 768px;
    background-position: 50% 50%, 50% 100%, 50% 100%;
  }
}

@media #{$tablet-widths} {
  .page-header__head {
    display: none;
  }

  .page-header__background-foto {
  min-height: 290px;
  background-image:
    url("../img/text-sedona.svg"),
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 456px, 780px, 1200px;
  background-position: 50% 50%, 50% 100%, 50% 100%;

    &--welcome {
      min-height: 518px;
      background-image:
        url("../img/text-sedona-index.svg"),
        url("../img/bg-intro-triangle-mobile.svg"),
        url("../img/bg-back-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-size: 456px, 780px, 1200px;
      background-position: 50% 50%, 50% 100%, 50% 100%;
    }
  }
}



