.page-footer {
  padding: 10px 0;
  text-align: center;
}

.page-footer__contacts {
  @include font-scale(21px, 26px);
  font-weight: bold;
}

.page-footer__copyright {
  @include font-scale(14px, 26px);
}
