.page-footer {
  padding: 10px 0;
  text-align: center;
}

.page-footer__contacts {
  @include font-fz-lh(21px, 26px);
  font-weight: bold;
  margin: 21px 0;
}

.page-footer__copyright {
  @include font-fz-lh(14px, 26px);
  margin: 14px 0;
}
