.reason {
  padding: 30px 30px;
  text-align: center;

  &--icon {
    padding-left: 70px;
    text-align: left;
  }

  &--icon-house {
    padding-bottom: 0;
  }

  &--icon-gift {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--icon-food {
    padding-top: 0;
  }

  &--blue {
    color: $white;
    background-color: $blue;
  }

  &--grey {
    color: $text-color;
    background-color: $gray;
  }
}

.reason__title {
  @include font-fz-lh(18px, 26px);
  font-weight: bold;
}

.reason__number {
  @include font-fz-lh(14px, 21px);
}

.reason__text {
  @include font-fz-lh(14px, 21px);
}

