.reason-picture {
  overflow: hidden;

  img {
    display: block;
  }
}

@media #{$tablet-widths} {
  .reason-picture {
    width: 66.666666%;
    display: inline-block;
    vertical-align: top;
    height: 256px;
  }
}
