.reason {
  padding: 20px 30px;
  text-align: center;
  position: relative;

  &--icon {
    padding-left: 70px;
    text-align: left;
  }

  &--icon-house {
    padding-bottom: 0;
  }

  &--icon-gift {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--icon-food {
    padding-top: 0;
  }

  &--blue {
    color: $white;
    background-color: $blue;
  }

  &--grey {
    color: $text-color;
    background-color: $gray;
  }
}

.reason--icon-house svg,
.reason--icon-gift svg,
.reason--icon-food svg {
  position: absolute;
  height: 40px;
  width: 42px;
  fill: #81b3d2;
}

.reason--icon-house svg {
  top: 25px;
  left: 20px;
}

.reason--icon-gift svg {
  top: -15px;
  left: 20px;
}

.reason--icon-food svg {
  top: -10px;
  left: 20px;
}

.reason__title {
  @include font-scale(18px, 26px);
  font-weight: bold;
}

@media #{$tablet-widths} {
  .reason {
    width: 33.333333%;
    box-sizing: border-box;
    min-height: 256px;

    &--icon {
      padding-top: 140px;
      padding-left: 30px;
      padding-bottom: 50px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }

  .reason--icon-house svg,
  .reason--icon-food svg,
  .reason--icon-gift svg {
    height: 78px;
    width: 80px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .reason--icon-food {
    order: 1;
  }

  .reason--icon-gift {
    order: 2;
  }

  .reason__title {
    @include font-scale(21px, 26px);
    width: 160px;
    margin: 18px auto;
  }

  .reason__number {
    @include font-scale(14px, 21px);
  }

  .reason__text {
    @include font-scale(14px, 21px);
    width: 170px;
    margin: 14px auto;
  }

  .reason-picture--order {
    order: -1;
  }
}

@media #{$desktop-widths} {
  .reason__text {
    width: 270px;
  }
}
