.reason {
  padding: 20px 28px;
  text-align: center;
  position: relative;

  &--icon {
    padding-left: 70px;
    text-align: left;
  }

  &--icon-house {
    padding-top: 15px;
    padding-bottom: 0;
  }

  &--icon-gift {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  &--icon-food {
    padding-top: 0;
    padding-bottom: 18px;
  }

  &--blue {
    color: $white;
    background-color: $blue;
    padding-bottom: 25px;
  }

  &--grey {
    color: $text-color;
    background-color: $gray;
    padding: 13px 35px;
  }
}

.reason--icon-house svg,
.reason--icon-gift svg,
.reason--icon-food svg {
  position: absolute;
  height: 40px;
  width: 42px;
  fill: #81b3d2;
}

.reason--icon-house svg {
  top: 25px;
  left: 20px;
}

.reason--icon-gift svg {
  top: 0px;
  left: 20px;
}

.reason--icon-food svg {
  top: -10px;
  left: 20px;
  width: 39px;
}

.reason__title {
  @include font-scale(18px, 26px);
  font-weight: bold;

  &--first {
    margin-top: 35px;
  }

  &--grey {
    margin-bottom: 9px;
  }
}

.reason--border {
  &::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0px;
    z-index: 1;
    display: block;
    width: 280px;
    border-bottom: 1px solid #d6d6d6;
  }
}

@media #{$tablet-widths} {
  .reason {
    width: 33.333333%;
    box-sizing: border-box;
    min-height: 256px;

    &--icon {
      padding-top: 140px;
      padding-left: 30px;
      padding-bottom: 50px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }

  .reason--icon-house svg,
  .reason--icon-food svg,
  .reason--icon-gift svg {
    height: 78px;
    width: 80px;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
  }

  .reason--icon {
    .reason__text {
      width: 165px;
      margin-top: 4px;
    }
  }

  .reason--icon-food {
    order: 1;

    .reason__text {
      width: 155px;
    }
  }

  .reason--icon-gift {
    order: 2;
  }

  .reason__title {
    @include font-scale(21px, 26px);
    width: 151px;
    margin: 18px auto;

    &--first {
      margin-top: 25px;
    }

    &--grey {
      margin-top: 29px;
      margin-bottom: 9px;
    }

    &--blue {
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }

  .reason__number {
    @include font-scale(14px, 21px);
  }

  .reason__text {
    @include font-scale(14px, 21px);
    width: 170px;
    margin: 14px auto;
  }

  .reason-picture--order {
    order: -1;
  }

  .reason--grey {
    .reason__text {
      margin-top: 22px;
    }
  }

  .reason--border {
    &::after {
      content: "";
      display: none;
    }
  }
}

@media #{$desktop-widths} {
  .reason__text {
    width: 270px;
  }

  .reason--icon {
    padding-bottom: 68px;

    .reason__text {
      width: 270px;
    }
  }
}
