.social-link {
  display: flex;
  justify-content: center;
  width: 47px;
  min-height: 48px;
  background-color: $blue;
  font-size: 0;
  position: relative;

  svg {
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
    fill: $white;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    svg {
      fill: rgba(255,255,255,0.3);
    }
  }
}

.social-link--tw {
  margin-right: 6px;
}

.social-link--fb {
  margin-right: 6px;

  svg {
    top: 15px;
  }
}
